@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}


/* HEADER
------------------------------- */
.logo {
    width: 210px;
    margin-top: 14px;
}
/* めいんなび
------------------------------- */
 .main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;}

.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
/* ロゴを左に、ナビを右に
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
/* へだーにwrapperを追加
------------------------------- */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* HOMEフルスクリーンページ
------------------------------- 
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}*/



/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: rgb(99, 171, 212);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}
/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}

/* 大きな背景画像をぶれんどモードにする */
/* #home {
    background-image: url(../images/main-bg.jpg);
    background-color:#2cdd00;
    background-blend-mode: hard-light;
    min-height: 100vh;
 } */

 /* HOME
--ぐらでーしょんをのせる----------------------------- 
#home {
     background-image: url(../images/main-bg.jpg),
    radial-gradient(#2ff40c, #f6052d);
    background-blend-mode:luminosity ;
    min-height: 100vh;
    /* background-color: #0bd;
    background-blend-mode: hard-light;
     
}*/


#home .page-title {
    text-transform: none;
}

/* 3カラムページのメイン画像の装飾 */
#top {
    background-image: url(../images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#top .page-title {
    text-align: center;
}

/* ２カラムページのメイン画像の装飾 */
#syoukai {
    background-image: url(../images/syoukai-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#syoukai .page-title {
    text-align: center;
}
/* フッター
------------------------------- */
footer {
    background: rgb(243, 124, 5);
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* 追加フッターなび
------------------------------- */
.footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 5px;
    list-style: none;}

.footer-navf li {
    margin: 5px;
}
.footer-nav a {
    color: rgba(238, 239, 243, 0.929);
}
.main-nav a:hover {
    color: #0bd;
}



/* 左の記事ぶぶん下方で上書き */
article{
    width:30% ;
}

.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

/* 円の装飾 */
.post-date {
    background: rgb(99, 171, 212);
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
/* 記事のタイトル */
.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 120px;
}
/* 記事の本文 */
article img{
    margin-bottom: 20px;
}
article p{
    margin-bottom: 1rem;
}
/* さいどばー 下方で上書き*/
aside{
    width: 33%;}

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p{
    padding: 12px 10px;
}
/* カテのリストの装飾*/
.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px #ddd solid;
}
.sub-menu a{
    color:#432;
    padding: 10px;
    display: block
    ;
}
.sub-menu a:hover{
    color:#0bd;
}
/* バナーの追加 */
article{
    width: 30%;
}
/* topのバナーの並びを変える */
article {
    width: 30%;
    order: 1;
}
aside {
    width: 33%;
    order: 2;
}
.ad {
    order: 3;
}

/* ２カラム並びを変える */

syoukaiarticle {
    width: 60%;
    order: 1;
}
syoukaiaside {
    width: 33%;
    order: 2;
}







/* MENUページだよ */
#menu{
    background-image: url(../images/kamoku-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
.menu-content{
    max-width: 560px;
    margin-top: 7%;
}
.menu-content .page-title{
    text-align: center;
}
.menu-content p{
    font-size: 1.125rem;
    margin: 25px 0 0;
}
.grid {
    display: grid;
    gap: 26px;
 /* 繰り返し宣言repeat(数,mainmax(最小値,最大値）)*/
    grid-template-columns:  1fr 1fr;
    margin-top: 25%;
    margin-bottom: 50px;
  }
  .big-box{
    grid-column: 1/3;
    grid-row:2/4;
  }
  .big-box img{
    height: 94%;
    width: 100%;
    object-fit: cover;
  }
  /* CONTACTページだよ */
  #contact{
    background-image: url(../images/yoyaku4-bg.jpg);
    min-height: 50vh;
  }
/* フォームだよ */
form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
/*  フォームをまとめて設定 */
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
/*  ↓フォームの上２つまとめて設定 */
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}
/* 店舗情報・地図 */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 22%;
}
.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 100%;
}
/* Iframe 設定*/
iframe{
    width: 100%;
}
/* SNS３種 */
#sns{
    background: #FAF7F0;
    padding: 4% 0;
}
#sns .wrapper{
    display: flex;
    justify-content: space-between;
}
#sns .sub-title{
    margin-bottom: 30px;
}
.sns-box{
    width: 30%;
}


/* TOPページ左のリンク */

#top a {
    color: #432;

}

#top a:hover {
    color: #0bd;
}
/* 追加のテーブル */
/*table{
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
  }
  
  table th,table td{
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  
  table th{
    background-color: #c79852;
    color: white;
    border:solid 1px #927141;
  }
  
  table td{
    background-color: #e4d4bc;
    border:solid 1px #af9d85;
  }*/
  
  table{
    width: 100%;
    border-spacing: 0;
  }
  
  table th{
    border-bottom: solid 2px #fb5144;
    padding: 10px 0;
  }
  
  table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 10px 0;
  }
  
/* ------------------------------
モバイル版ここからmediaクエリ
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
    }
    /* 縦ならび */
    .page-header{
        flex-direction: column;
        align-items: center;
    }
     /* ニュースページ */
     .news-contents{
        flex-direction: column;
     }
     article,
     aside,syoukaiarticle,syoukaiaside{
        width: 100%;
     }
     #news .page-title{
        margin-top: 30px;
     }
     /* 文字余白調整 */
aside,syoukaiaside{
    margin-top: 60px;
}
.post-info{
margin-bottom: 30px;
}
.post-date{
    width: 70px;
    height: 70px;
    font-size: 1rem;
}
.post-date span{
    font-size: 0.875rem;
    padding-top: 2px;
}
.post-title{
    font-size: 0.875rem;
    margin-top: 10px;
}
.post-title,
.post-cat{
    margin-left: 80px;
}
/* モバイルのMENUページだよ */
.menu-content{
    margin-top: 20%;
}
.big-box{
    grid-column: auto;
    grid-row: auto;
}
.big-box img{
    height: auto;
}
/* モバイル版のフォームだよ
/* CONTACT */
#contact .page-title {
    margin-top: 40px;
}

/* フォーム */
input[type="text"],
input[type="email"],
textarea {
    max-width: 100%;
} 
    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }


}
/* ------------------------------
モバイル版ここまで
------------------------------- */
span.ao{
    color: rgb(240, 172, 13);
}
